<% content_for :title, "Kanban" %>

<h1>Kanban</h1>
<div>
  <%= ov_new StoryTask %>
</div>

<%= ov_modal_objects StoryTask do %>
<div class="container">
  <div class="row" %>
    <% @columns.each do |column_id, tasks| %>
    <div class="col-md-3">
      <div class="kanban-col-title">
        <%= StoryTask.status_str column_id %>
      </div>
      <% tasks.each do |task| %>
      <%= render partial: "kanban", locals: {task: task, column_id: column_id} %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
