<% content_for :title, "Editing person" %>

<h1>Editing person</h1>

<%= render "form", person: @person %>

<br>

<div class='ov-button-row'>
<%= ov_show @person %>
<%= ov_index Person %>
<%= ov_delete @person %>
</div>
