<p style="color: green"><%= notice %></p>

<% content_for :title, "People" %>

<h1>People</h1>

<div id="people">
  <table>
    <% @people.each do |person| %>
    <%= render partial: "table_row", locals:{person: person} %>
  <% end %>
  </table>
</div>

<%= link_to "New person", new_person_path %>
