<div class="ov-display show-border" >
  <div class="ov-field">
    <label class="ov-label">Label 1</label>
    <div class="ov-text">Value 1</div>
  </div>
  <div class="ov-field">
    <label class="ov-label">Label 2</label>
    <div class="ov-text">Value 2</div>
  </div>
  <div class="ov-field">
    <label class="ov-label">Fields For</label>
    <ul class="ov-fields-for">
      <li class="ov-object">
	<div class="ov-field">
	  <label class="ov-label">Label 3</label>
	  <div class="ov-text">Value 3</div>
	</div>
	<div class="ov-field">
	  <div class="ov-checkbox-holder">
	    <input type="checkbox" checked="checked" onclick="return false"/>
	  </div>
	  <label class="ov-checkbox-label">A Checkbox</label>
	</div>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-3">label</div>
    <div class="col-8">value</div>
  </div>
  <div class="row">
    <div class="col-3">label</div>
    <div class="col-8">
      <ul class="container-fluid">
	<li class="row">
	  <div class="col-3">label s1</div>
	  <div class="col-8">value</div>
	</li>
	<li class="row">
	  <div class="col-3">label s2</div>
	  <div class="col-8">value</div>
	</li>
      </ul>
    </div>
  </div>
</div>
<hr>
