<% content_for :title, "Editing Profile" %>

<h1>Editing Profile</h1>

<%= render partial: "form_profile", object: @object %>

<br>

<div class='ov-button-row'>
<%= ov_show @object, path: profile_user_path(@obj) %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
