<% content_for :title, "#{@klass_str}" %>

<h1>User Profile</h1>

<%= render partial: "profile", object: @object %>

<br>

<div class='ov-button-row'>
<%= ov_edit @object, path: edit_profile_user_path(@object) %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
