body {
    background-color: #e9eff0;
}

.ov-form {
}

.ov-form-wrapper {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.ov-display {
    @extend .container;
    .ov-field {
	@include make-row();
	.ov-label {
	    @extend .col-md-3;
	    align: left;
	}
	.ov-text {
	    @extend .col-md-8;
	}
	.ov-checkbox-holder {
	    @extend .col-md-1;
	}
	.ov-checkbox-label {
	    @extend .col-md-3;
	}
    }
    li.ov-object {
	@include make-container();
	list-style-type: none;
	/*background-color: green;*/
    }
    li.ov-object:after {
	content: ''; /* Required for pseudo-elements */
	display: block; /* Make it take up the full width */
	border-bottom: 1px solid #ccc; /* Style the horizontal rule */
	margin-top: 0.5em; /* Add some spacing above the rule */
	margin-bottom: 0.5em; /* Add some spacing below the rule */
    }
    li.ov-object:last-child::after {
	content: none;
    }

    .ov-fields-for {
	@extend .col-md-8;
	ul {
	    @extend .container-fluid;
	}
	.ov-label {
	    @extend .col-md-2;
	    align: left;
	}
    }
}

.ov-form {
    @extend .container;
    .ov-field {
	@include make-row();
	.ov-label {
	    @extend .col-md-3;
	    align: left;
	}
	.ov-text {
	    @extend .col-md-8;
	}
	.ov-select-holder {
	    @extend .col-md-3;
	    padding-left: 10px;
	}
	.ov-checkbox-holder {
	    @extend .col-md-1;
	}
	.ov-checkbox-label {
	    @extend .col-md-3;
	}
    }
    .ov-fields-for {
	@extend .col-md-8;
	ul {
	    @extend .container-fluid;

	}
	.ov-label {
	    @extend .col-md-2;
	    align: left;
	}
    }
    li.ov-object {
	@include make-container();
	list-style-type: none;
	/*background-color: green;*/
    }
    li.ov-object:after {
	content: ''; /* Required for pseudo-elements */
	display: block; /* Make it take up the full width */
	border-bottom: 1px solid #ccc; /* Style the horizontal rule */
	margin-top: 0.5em; /* Add some spacing above the rule */
	margin-bottom: 0.5em; /* Add some spacing below the rule */
    }
    li.ov-object:last-child::after {
	content: none;
    }
}

.ov-table-hdr {
    font-weight: bold;
}
.ov-table-col {
    form.ov-button {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
    }
    .ov-table-col-button {
	display: inline;
	.button_to {
	    display: inline;
	}
    }
}
.ov-button-row {
    form.ov-button {
	display: inline;
    }
    .button_to {
	display: inline;
    }
}

.show-border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.kanban-col-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center
}
.kanban-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center
}
.kanban-buttons {
    button {
	@extend .btn-sm;
    }
    text-align: center;
}
.kanban-task {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 3px;
    background-color: white;
}
