.ov-form {
}

.ov-form-wrapper {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.ov-display {
    @extend .container !optional;
    .ov-field {
	@extend .row !optional;
	.ov-label {
	    @extend .col-md-2 !optional;
	    align: left;
	}
	.ov-text {
	    @extend .col-md-8 !optional;
	}
    }
}

.ov-button-row {
    .button_to {
	display: inline;
    }
}
